*{
    margin: 0;
}
body {
    background: white;
    color: white;
    font-family: sans-serif;
}
header {
    background:rgb(197, 25, 25);
    width: 100%;
    height: 130px;
    font-weight:bold; 
    display:flex;
} 

.title{
    margin-top: 30px;
}
.costadoIzq div img{
    position: absolute;
    height: 70px;
    margin: 25px;
    margin-top: 20px;
    border-radius:10px;
}
#titlePIM{
    position:absolute;
    font-size: 40px;
    margin-left: 190px;
    margin-top:-20px;
}
#titlePersonalI{
    position: absolute;
    padding-top: 5px;
    font-size: 15px;
    margin-left: 188px;
    margin-top: 20px;   
}

.costadoDer{
    margin-left: 82%;
    text-align:center;   
}
.costadoDer a {
    margin-top:40px;
    color: white;
    background-color: rgb(22, 155, 213);
    font-size: 15px;
    border-radius: 15px;
    border: 2px solid white;
    font-weight: bold;
    height: 40px;
    width: 200px;
    text-align: center;
}

.content{
    position: absolute;
    margin-top: 40px;
    margin-left: 22%;
    height: 450px;
    width: 750px;
    color: rgb(51, 51, 51);
    font-weight:bold;
    box-sizing: content-box;
}
.content div div img {
    height: 95px;
    filter: grayscale(100%);
    border-radius:10px;
}
.contentImagen a {
    text-decoration:none;
}
.imagenesInferior {
    margin-top:40px;
}
.aplicacionesTitle h1 {
    font-weight: bold;
    display: block;
    font-size: 40px;
    margin-left: 18%;
    margin-bottom: 20px;
}
.aplicaciones{
    margin-left: -2%;
}
.contentImagen {
    margin-left:40px;
    margin-right:40px;
    padding:10px;
    display: inline-block;
    border-radius:10px;
}
.letras {
    color: rgb(178, 186, 187);
    font-size: 25px;
    text-align: center;
}
[caso="especial"] {
    position:absolute;
    margin-top:-5px;
}
#imagenPerfil {
   margin-top:5px;
    width:60px;
    border-radius:150px;  
 }
#nombrePerfil {
    font-size:20px;
}
#redirectActive div {
    color: black;
   
}
#redirectActive a img {
    filter: grayscale(0);
}
#redirectActive a:hover img{
    height:110px;
 
}
#redirectActive a:hover .letras {
    font-weight: bolder;
}
#redirectActive:hover {
    border:1px solid rgb(6, 163, 213);
    background-color:aliceblue;
}
.cabeceraIzq img{
    height:60px;
    position:absolute;
    margin:35px;
    border-radius:150px;
}
.cabeceraMid {
    position: absolute;
    margin-top: 40px;
    margin-left: 20%;
    display: flex;
    background-color: white;
    border-radius:5px;
}
.cabeceraMid a {
    height: 50px;
    width: auto;
    margin-left: 20px;
    margin-right: 20px;
    text-decoration: none;
    line-height: 50px;
    font-weight:normal;
    cursor:default;
}
.cabeceraMid a span{
    padding-top:6px;
    padding-bottom:6px;
    padding-right:20px;
    padding-left:20px;
    border-radius:3px;
}

.cabeceraMid a span:hover {
    background-color:rgb(66,139,202);
    color:white;
    cursor:pointer;   
}
.menuCostado {
    background-color: rgb(26, 28, 28);
    margin-left: 5px;
    width: 255px;
    position: absolute;
    height: 250%;
    border-radius:5px;
    display:flex;
    flex-direction:column;

}

.barraB {
    margin-top: 15px;
    margin-left: 10px;
}

.barraB button {
    margin-left: -5px;
    background-color: rgb(31,182, 219);
    border: 0;
    border-radius: 5px;
    outline: none;
}

.barraB input {
    height: 30px;
    border-radius: 5px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 1px 2px 3px rgb(210, 210, 210);
    outline: none;
}

.barraB button svg {
    height: 30px;
    width: 30px;
    margin: 0;
    fill: white;
    transform: rotate(90deg);
}

.events {
    position: absolute;
    margin-left: 22%;
    background-color: rgb(195, 195, 195);
    height: 250%;
    width: 75%;
    display:flex;
    border-radius:5px;
}
.menuCostado button {
    height: 30px;
    width: 250px;
    border: none;
    background-color: rgb(26, 28, 28);
    padding:10px;
    margin-top:20px;
    text-align:left;
    color:white;
    font-size:15px;
    line-height:10px;
    border-radius:10px;
}
#nombreUser{
    font-size: 15px;  
    text-align:left;
    line-height:0px;
}
.menuCostado button:hover {
    background-color:rgb(69,55,30);
}




