<header>
    <div class="cabeceraIzq">
        <a href="/">
            <img src="/imagenes/redirectHome.png"/>
        </a>
    </div>
    <nav class="cabeceraMid">
        <RedirectButton Content="Drive" Redirect=""></RedirectButton>
        <RedirectButton Content="Calendar" Redirect=""></RedirectButton>
        <RedirectButton Content="Notes" Redirect="notes"></RedirectButton>
        <RedirectButton Content="Contacts" Redirect=""></RedirectButton>
        <RedirectButton Content="Password" Redirect=""></RedirectButton>

    </nav>
    <div class="costadoDer" id="cabeceraPerfil">
        <Perfil></Perfil>
    </div>
</header>
@code {

}
